<div id="main_content">
  <div id="header">
    <% if current_page?(root_path) %>
      <p>Post Feed</p>
    <% elsif current_page?(about_path) %>
      <p>My Site</p>
    <% else %>    
      <p><%= link_to 'Back to Post Feed', root_path %></p>
    <% end %>
    
    <% if user_signed_in? %>
      <div class="buttons">
        <button class="button"><%= link_to 'New Post', new_post_path %></button>
        <button class="button"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></button>
        <button class="button"><%= link_to "Forum", simple_discussion_path %></button>
      </div>
    <% end %>  
  </div>
</div>