<div id="sidebar">
  <ul>
    <li class="category"><%= link_to 'Tumblr', root_path %></li>
    <li><%= link_to 'Posts', root_path %></li>
    <br>
    <li>About</li>
  </ul>
  <p class="sign_in">User Login</p>
</div>