<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpg' %>
  </div>

  <div id="content">
    <h1>It's the famous Mr Cat</h1>
    <p>Enamel pin gluten-free mlkshk helvetica banh mi YOLO migas pork belly chillwave palo santo chia neutra bicycle rights four loko organic. Cornhole franzen tumblr biodiesel quinoa banjo microdosing tacos mumblecore skateboard. Hoodie mumblecore jianbing twee freegan fanny pack tbh distillery keffiyeh chillwave palo santo roof party. Pour-over chartreuse kitsch chia irony, af listicle activated charcoal fanny pack yr everyday carry photo booth fam stumptown. <br> <br>  Air plant humblebrag iceland ethical pitchfork. Cronut drinking vinegar tousled before they sold out ugh. Hexagon quinoa pour-over 3 wolf moon small batch everyday carry skateboard, hammock chia locavore DIY craft beer. Jean shorts mixtape knausgaard bicycle rights scenester skateboard stumptown, master cleanse tousled single-origin coffee waistcoat man braid cardigan. Green juice pabst cronut kombucha. Wayfarers kombucha dreamcatcher polaroid hella retro humblebrag before they sold out gluten-free freegan. Cliche thundercats meh swag gluten-free <br> <br> Portland lomo quinoa flexitarian biodiesel, fashion axe messenger bag tilde drinking vinegar health goth microdosing kogi banjo +1 subway tile. Migas tacos DIY pitchfork ramps yuccie paleo cliche ennui meh fixie marfa swag hashtag tumeric. Thundercats truffaut deep v, health goth mumblecore heirloom direct trade. Activated charcoal cold-pressed master cleanse, stumptown keytar cliche chillwave next level poke artisan meditation. Cred yuccie glossier locavore wayfarers, copper mug activated charcoal small batch fingerstache ennui prism actually tofu. Drinking vinegar succulents next level banh mi. Lumbersexual fixie schlitz green juice hammock, cred farm-to-table locavore snackwave wolf vinyl irony waistcoat.</p>
  </div>
</div>